<header>
    <div class="logo-container">
        <img src="../../../assets/images/svg/logo-brutepasta.svg" alt="logo-brutepasta">
        <h1>Brute Pasta</h1>
    </div>
    <div class="nav-bar-header">
        <nav>
            <ul>
                <li>Início</li>
                <li>Sobre Nós</li>
                <li>Menu</li>
                <li>Contato</li>
                <li><img src="../../../assets/images/png/shopping-cart.png" alt="icone-carrinho-de-compras"></li>
            </ul>
        </nav>
    </div>
    <button type="button">Entrar</button>
</header>
