footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: var(--Linear-Red, linear-gradient(132deg, #B6260E 0%, #DC6153 100%));
    padding: 0px 130px;
}

h1 
{
    font-family: Praise;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
}

ul
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4px 40px;
}

li
{
    font-size: 12px;
    font-weight: 300;
    display: flex;
    color: #ffffff;
}

nav
{
    display: flex;
    width: 416px;
}

.nav-footer
{
    display: inline-block;
    width: 416px;
}