<footer>
    <h1>Brute Pasta</h1>
    <div class="nav-footer">
        <nav>
            <ul class="nav-links">
                <div class="first-line">
                    <li>Ajuda</li>
                    <li>Termos de uso</li>
                </div>
                <div class="second-line">
                    <li>Blog</li>
                    <li>Sobre nós</li>
                </div>
                <div>
                    <li>Política de privacidade</li>
                    <li>Fale Conosco</li>
                </div>
            </ul>
        </nav>
    </div>
</footer>
