<header>
    <h1 class="title-page">Brute Pasta</h1>
</header>
<main>
    <div class="main-login">
        <h1 class="title-login">Entrar</h1>
        <p>Entre por meio de suas redes sociais</p>
        <nav>
            <ul>
                <li><img src="../../../assets/images/svg/linkedin-logo.svg" alt=""></li>
                <li><img src="../../../assets/images/svg/instagram-logo.svg" alt=""></li>
            </ul>
        </nav>
        <img src="../../../assets/images/svg/logo-login-brutepasta.svg" alt="">
        <div class="division">
            <hr>
            <p>OU</p>
            <hr>
            <form action="">    
                <input type="text" required placeholder="Email"> 
                <input type="password" required placeholder="Senha">
                <button type="submit">Entrar</button>
                <button type="submit">Registrar-se</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <h1 class="title-footer">Trabalhe onde você quiser, quando você quiser</h1>
    <p>Trabalhe conosco e acomode o seu horário como quiser. Os nossos ritmos de trabalho nunca foram tão elevados, isto deve-se ao facto de darmos aos nossos colaboradores vários benefícios de que podem usufruir ao longo do seu percurso.</p>
    <button type="submit">Juntar-se</button>
</footer>