<body>
<div class="gradient-vector"></div>
  <header class="header-login">
    <h1 routerLink="/Home" class="page-title">Brute Pasta</h1>
  </header>

  <main>
    <section class="main-content">
      <div class="forms-content">
        <h1 class="main-title-login">Entrar</h1>
        <p class="p-top-content">Entre por meio de suas redes sociais</p>
        <nav>
            <ul>
                <li><img src="../../../assets/images/svg/linkedin-logo.svg" alt=""></li>
                <li><img src="../../../assets/images/svg/instagram-logo.svg" alt=""></li>
            </ul>
        </nav>
        <div class="login-division">
            <div class="login-hr">    
                <hr>
                <p>OU</p>
                <hr>
            </div>
            <form [formGroup]="loginForm">    
                <input formControlName="email" type="email" required placeholder="Email"> 
                <input formControlName="password" type="password" required placeholder="Senha">
                <button (click)="login()" class="login" type="submit">Entrar</button>
                <button routerLink="/Register" class="register" type="submit">Registrar-se</button>
            </form>
        </div>
      </div>
      <img routerLink="/Home" class="main-content-logo" src="../../../assets/images/svg/logo-login-brutepasta.svg" alt="Logo Brute Pasta">
    </section>

    <section class="second-content">
      <h3 class="title-second-content">Trabalhe <span>onde</span> você quiser, <span>quando</span> você quiser</h3>
      <p class="text-second-content">Trabalhe conosco e acomode o seu horário como quiser. Os nossos ritmos de trabalho nunca foram tão elevados, isto deve-se ao facto de darmos aos nossos colaboradores vários benefícios de que podem usufruir ao longo do seu percurso.</p>
      <button class="button-footer" type="submit">Juntar-se</button>
    </section>
  </main>
</body>